.site-header {
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  background: linear-gradient(to right, #6441a5, #2a0845, #6441a5);
  justify-content: center;
  &__logo {
    width: 50px;
  }
}
