.artists-container {
  margin-top: 50px;
  margin-bottom: 50px;
  .artist {
    margin-top: 10px;
    border: 1.5px solid black;
    width: 100%;
    display: flex;
    text-decoration: none;
    &:hover {
      background: rgb(208, 151, 241);
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.6);
      transition: 0.5s;
    }
    &__logo {
      width: 60px;
      height: 60px;
      margin: 10px;
    }
    &__name {
      font-size: 17px;
      margin: 10px 0px 0px 10px;
      color: black;
    }
  }
}

@media only screen and (min-width: 768px) {
  .artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .artist {
      width: 48%;
    }
  }
}
